.header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 74px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #0000000D;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}
.logo{
    margin-top: 20px;
    margin-left: 25px;
    width: 97px;
    height: 31px;
}
.profile{
    margin-top: 17px;
    margin-right: 25px;
    width: 40px;
    height: 40px;
    float: right;
    border-radius: 10px;
    opacity: 1;
}
.hiuser{
    margin-top: 31px;
    margin-right: 7px;
    float: right;
    font-size: 11px;
    font-weight: bold;
}
.circle{
    margin-top: 20px;
    margin-right: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50% 50%;
    background-color: #efefef;
    float: right;
}
