.sidebar{
    margin-top: 0px;
    padding-top: 30px;
    left: 0px;
    width: 275px;
    min-height: 1200px;
    box-shadow: 5px 25px 25px #0000000D;
}
.sidebar ul{
    padding-inline-start: 0px;
    padding-top: 10px;
}
.sidebar ul li{
    padding-left: 25px;
    list-style: none;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.21px;
    color: #31363E;
    opacity: 0.3;
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
    cursor: pointer;
}
.sidebar ul li.active{
    opacity: 1;
}
.sidebar ul li:hover{
    opacity: 1;
}
.sidebar ul li img{
    float: left;
}
.sidebar ul li span{
    margin-left: 18px;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    letter-spacing: -0.21px;
    color: #31363E;
    opacity: 1;
}
.sidebar ul li rec{
    width: 9px;
    height: 30px;
    background: #31363E 0% 0% no-repeat padding-box;
    box-shadow: 3px 0px 10px #31363E1A;
    border-radius: 7px;
    opacity: 1;
}

h2{
    margin-left: 25px;
    text-align: left;
    font-size:16px;
    font-weight: bolder;
    letter-spacing: -0.4px;
    color: #25282E;
    opacity: 1;
}

